<html>
<head>
    <title>Уууупс</title>
</head>
<body>
<center><h1>Хммм возможно машина добавлена, но что-то пошло не так, если машина не добавилась попробуйте ещё раз перейти по ссылке</h1></center>
<br /><br />
<center><h3>Спасибо. Ваш FinanceCarManager</h3></center>
</body>
</html>